:root {
  --primary-color: rgb(87, 122, 212);
  --secondary-color: rgb(37, 56, 176);;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
}
h1 {
  color: var(--primary-color);
}

h2, h3, h4 {
  color: var(--secondary-color);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

code {
  font-size: 0.9rem;
}

pre.shiki {
  border-radius: 5px;
}

pre code {
  display: block;
  padding: 0.75rem;
  overflow-x: scroll;
}

p code {
  font-size: 0.9rem;
  border-radius: 5px;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  display: inline-block;
  padding: 0.1rem 0.25rem;
  background: #e4f3fd;
}

blockquote {
  font-style: italic;
  padding: 5px 25px;
  background-color: rgb(252, 249, 216);
  border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
  h1 {
    color: rgb(109, 154, 203);
  }
  h2, h3, h4 {
    color: rgb(150, 178, 216);
  }
  p code {
    background: rgb(24, 33, 71);
  }
  blockquote {
    background-color: rgb(125, 66, 14);
  }
}
