.instructions {
  display: flex;

}

.instructions p {
  flex-grow: 1;
  margin: 1rem 0 0 0;
}

.instructions ul {
  display: inline;
  margin: 1rem 0 0 0;
}

.instructions ul:before {
  content: 'e.x. ';
  color: #999;
}

.instructions li {
  display: inline;
  list-style-type: none;
  margin: 0 0.5rem;
}

.replInput {
  min-height: 25rem;
  margin: 0.75rem 0;
  border-radius: 5px;
  overflow: hidden;
}

.replResult {
  margin: 1rem 0;
  padding: 0.1rem 1rem;
  background: #e4f3fd;
  border-radius: 5px;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.log {
  border-bottom: 1px solid #c7e5fa;
  padding-bottom: 1rem;
}

.replError {
  margin: 1rem 0;
  padding: 0.1rem 1rem;
  background: rgb(255, 216, 216);
  border-radius: 5px;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;

}

.submit button {
  padding: 0.5rem;
  margin-right: 0.75rem;
  margin-top: 0.5rem;
}

.submit span {
  color: #999;
}


@media (prefers-color-scheme: dark) {
  .replInput {
    background: #111;
  }
  .replResult {
    background: rgb(0, 43, 161);
  }
  .replError {
    background: rgb(132, 0, 0);
  }
}

